body {
    overflow: hidden;
}
.test{
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.Container{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}